In [ ]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [ ]:
#Create DataFrame
data = {'SalesForceTraining': [100,150,50,100,130,120,100,85,70,150,
                              150,120,50,100,100,140,90,150,50,90,
                              120,100,110,75,65]}

df = pd.DataFrame(data)

df

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [ ]:
#Central Tendency
import statistics
print(statistics.mean(df['SalesForceTraining']))
print(statistics.median(df['SalesForceTraining']))

102.6
100

In [ ]:
statistics.mode(df['SalesForceTraining'])

100

In [ ]:
statistics.multimode(df['SalesForceTraining'])

[100]

In [ ]:
#dapat dilihat nilai mean = 102.6 , median = 100, mode = 100 dan mutimode = 100

In [ ]:
#Variability
import numpy as np
print(np.var(df['SalesForceTraining']))
print(np.std(df['SalesForceTraining']))
print(np.max(df['SalesForceTraining']) - np.min(df['SalesForceTraining']))
print(np.quantile(df['SalesForceTraining'], 0.25))
print(np.quantile(df['SalesForceTraining'], 0.5))
print(np.quantile(df['SalesForceTraining'], 0.75))

972.2399999999999
31.18076330047101
100
85.0
100.0
120.0

In [ ]:
#dapat dilihat nilai Variansi = 972.239, Standard Deviation = 31.180, range = 100, kuartil 1 = 85, kuartil 2 = 100, kuartil 3 = 120

In [ ]:
#Define H0 and H1
#H0: Rata-rata jumlah transaksi 30 hari = 100
#H1: Rata-rata jumlah transaksi 30 hari > 100

In [ ]:
#Define alpha = 0.05

In [ ]:
#Calculate t statistics and P-value
#Perform one sample t-test
import scipy.stats as stats

# perform one sample t-test
t_statistic, p_value = stats.ttest_1samp(a=df['SalesForceTraining'], popmean=100)
print(t_statistic , p_value)

0.4085001556802841 0.6865284813438117

In [ ]:
#statistic= 0.4085001556802841, pvalue= 0.6865284813438117

In [ ]:
#Conclude with alpha and p-value
# Karena P-value lebih besar dari alpha (5%), maka kita gagal menolak H0
# Conclusion: Kampanye tidak efektif, rata-rata jumlah transaksi 30 hari masih 100

In [ ]:
#Conclude with t statistics and critical region
#Find the critical region

In [ ]:
#H1: larger (right side)
stats.t.ppf(1-0.05, 24)

1.7108820799094275

In [ ]:
#Critical region: t > 1.71
# Karena t-statistik tidak berada di daerah kritis, maka kita gagal menolak H0
#Conclusion: Kampanye tidak efektif, rata-rata jumlah transaksi 30 hari masih 100